@font-face {
  font-family: 'Star Wars';
  src: url('resources/star-wars-font.eot'); /* IE9 Compat Modes */
  src: url('resources/star-wars-font.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('resources/star-wars-font.woff') format('woff'), /* Pretty Modern Browsers */
       url('resources/star-wars-font.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('resources/star-wars-font.svg#svgFontName') format('svg'); /* Legacy iOS */
}

body {
  font-family: 'Open Sans', sans-serif;
  padding: 80px;
  font-size: 18px;
  background: #000;
  background-image: url("resources/background.png");
}

.navbar.navbar-default {
  background-color: #303030;
  height: 60px;
}

.navbar.navbar-default .navbar-brand {
  padding-top: 20px;
  color: #ffffff;
  font-family: 'Star Wars';
  font-size: 50px;
}

.navbar-brand p {
  font-family: 'Open Sans', sans-serif;
  text-align: right;
  margin-top: 10px;
  font-size: 16px;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-header p:hover,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #828282;
}

.navbar-default .navbar-nav > li > a {
    padding-right: 20px;
    color: #ffffff;
    font-family: 'Star Wars';
    font-size: 20px;
}

.navbar.navbar-default {
  height: 80px;
}
.navbar-header p {
  color: #fff;
}

/*********** progress bar *************/
.progress_wrap {
  display: flex;
  flex-direction: column;
}

.pbar { flex: 1; }
.pbar.first { margin-top: 20px; }
.pbar.last { margin-top: 55px; }
.pbar .meta { display: flex; }
.pbar .meta .info.first { flex: 1; text-align: left; }
.pbar .meta .info.last { flex: 1; text-align: right; }

.intro {
  border-radius: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
  border: 1px solid #303030;
  background-color: #303030;
  color: #ffffff;
}

.coinWar {
  color: #ffffff;
  font-family: 'Star Wars';
  font-size: 60px;
  padding-bottom: 10px;
}

.playNow {
  color: #ffffff;
  font-family: 'Star Wars';
  font-size: 40px;
  padding-top: 20px;
}

.arrow {
  padding-top: 10px;
  padding-bottom: 30px;
}

.bounce {
  -moz-animation: bounce 1s infinite ease-in-out;
  -webkit-animation: bounce 1s infinite ease-in-out;
  animation: bounce 1s infinite ease-in-out;
}

.numberFont {
  font-size: 25px;
  font-weight: bold;

}

.instructionFont {
  font-size: 20px;
}


.stage_wrap {
  border-radius: 25px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  padding: 50px 0;
  border: 1px solid #303030;
  background-color: #303030;
  color: #ffffff;
  overflow: hidden;
}






.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.war_stage_item .show-grid {
  margin: 10px 0 20px;
  padding: 10px 0 20px;
  border-bottom: 1px solid #535353;
}

.time_notif {
  text-align: center;
  margin: 20px 0 50px;
}

.coin-btn {
  width: 80px;
  height: 80px;
  border-radius: 80px;
  -moz-border-radius: 80px;
  -webkit-border-radius: 80px;
}

.coin-btn.active {
  border: 1px solid #337ab7;
}

.progress_wrap {
}
.progress_wrap.bottom {
  margin-top: 50px;
}

.coin {
  margin-bottom: 20px;
}

/**** hac for MacOS Chrome ****/
.coin-btn:focus {
  outline: none;
}

.balance {
  font-weight: bold;
  background-color: #f1f1f1;
  color: #313131;
  padding: 5px 15px 0;
  line-height: 1.3em;
  border-top-left-radius: 4px;
  -moz-border-top-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-top-right-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  margin-right: 5px;
}

.flex_btn_group.btn-group {
  display: flex !important;
}

.flex_btn_group.btn-group button { flex: 1; }

@keyframes bounce {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }

}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@media (min-width: 768px) {
  .navbar-nav > li > a {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
